<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Caritathelp' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>47681a4d-4642-4b36-b0a3-c75b0911d352</InstrumentationKey>
</ApplicationInsights>